<div class="table-responsive-vertical md-whiteframe-z1">
    <table id="table" class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in contactData track by $index">
            <td data-title="ContactID">{{data.contactId}}</td>
            <td data-title="First Name">{{data.firstName}}</td>
            <td data-title="Last Name">{{data.lastName}}</td>
            <td data-title="Email">{{data.email}}</td>
        </tr>
        </tbody>
    </table>
</div>
